/* Reinicio general: elimina márgenes/padding por defecto y asegura el alto completo. */
html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh
}

body {
	/* Contenedor principal como cuadrícula: define qué bloque ocupa cada área. */
	display: grid;
    /* Permite ajustar la estructura en la que queremos ver la página */
    grid-template-areas:
        "header header header"
        "aside article article"
		;
    
    grid-template-columns: 1fr 1fr 2fr;
    /* Altura de las filas: la primera fija y las otras adaptables */
	grid-template-rows: 200px 1fr;

}

.cabecera {
	grid-area: header;
	background-image: url("UT2 - TB banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	height: 200px;
    width: auto;
}

.anuncios {
	grid-area: aside;
	background-color: #f30a0a;
	padding: 20px;
}
h2 {
	color: #fbff00;
	font-family: serif ;
}

p {
	color: #ffffff;
	font-weight: bold;
	font-family: serif ;
	font-size: 17px;
}

.articulos {
	grid-area: article;
	background-color: #04810e;
	padding: 30px;
	/* Flex column: apila los artículos verticalmente conservando su orden. */
	display: flex;
	flex-direction: column;

}

#contenido1, #contenido2{
	border-style: solid;
	border-width: 2px;
	padding: 40px;
	border-color: #fbff00 ;

}
#articulo1 {
	margin-bottom: 20px;
}

#contenido1 p {
	grid-area: parrafo1;
}
#contenido2 p {
	grid-area: parrafo2;
}

#contenido1 img {
	grid-area: imagen1;
}
#contenido2 img {
	grid-area: imagen2;
}

#contenido1 {
	display: grid;
	grid-template-areas:
		"imagen1 parrafo1 parrafo1 "
		"imagen1 parrafo1 parrafo1"
		"imagen1 parrafo1 parrafo1"
	;
	grid-template-columns: 1fr 1fr 2fr;
	grid-gap: 20px;

}

#contenido2 {
	display: grid;
	grid-template-areas:
		"parrafo2 parrafo2 imagen2 "
		"parrafo2 parrafo2 imagen2"
		"parrafo2 parrafo2 imagen2"
	;
	grid-template-columns: 2fr 1fr 1fr;

	grid-gap: 20px;
}