a {
    text-decoration: none;
    color: rgb(179,51,26);
}

h1 {
    color: rgb(26,179,51);
}

h2, h3 {
    color: rgb(179,153,26);
}

h1,h2,h3 {
    background-color: rgb(240,240,240);
}

ol {
    color: rgb(0,0,0);
    background-color: rgb(230,179,179);
}

ul {
    background-color: rgb(179,230,179);
}

body {
    border: 3px;
    border-style:dotted;
    border-color: rgb(9, 236, 28);
}

p {
    color: rgb(102,102,102);
}