a {
    font-weight: bold;
    color: rgb(26,179,51);
}

h1 {
    color: rgb(51,51,128);
}

h2, h3 {
    color: rgb(51,128,77);
}

h1,h2,h3 {
    background-color: rgb(220,220,220);
}

ol {
    color: rgb(255,255,255);
    background-color: rgb(102,51,77);
}

ul {
    background-color: rgb(153,153,77);
}

body {
    border: 2px;
    border-style: solid;
    border-color: rgb(62, 217, 245);
}

p {
    color: rgb(102,179,128);
}