body {
    background-image: url("Img/superficie-de-madera-mirando-hacia-escena-de-restaurante.jpg");
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
}

p{
    background-color: #F2E0C9;
    color: #4A3C31;

    width:auto;
    height:80px;

    position: relative;

    text-align: center;

    border-radius: 10px;

    margin: 70px;

    padding:25px 40px 0px 40px ;
    

}
.sticky-box {

    font-size: 20px;
    background-color: #5A3E2B;
    color: #F5E9D6;
    
    position: sticky;
    top: 0;

    height: 100px;
    line-height: 100px;

    text-align: center;;

    border-radius: 20px;

    margin: 30px;

    z-index: 1;

}

.fixed-box {
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #8A9B68;
    color: #FFFFFF;;
    padding: 10px 10px;
    border-radius: 6px;
}
.caja {
    width: 50%;
    margin: 80px auto;
    background-color: #CE9F6A;
    color: #3C2F25;
    padding: 40px;
    border-radius: 12px;

}

button {
    background-color: #8A9B68;
    color: #FFFFFF;

    width:auto;
    height:auto;

    position: absolute;

    text-align: center;
    line-height: 50px;

    border-radius: 10px;

    padding-inline: 30px;

    right: 450px;
    top: 248%;
}


