.boton {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#videoexpl {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textcentro {
    text-align: center;
}